<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PrePaidCarBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CarInfoServlet</display-name>
    <servlet-name>CarInfoServlet</servlet-name>
    <servlet-class>com.parser.Servlet.CarInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarInfoServlet</servlet-name>
    <url-pattern>/addinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDbServlet</display-name>
    <servlet-name>FileUploadDbServlet</servlet-name>
    <servlet-class>com.parser.Servlet.FileUploadDbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDbServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vzvzv</display-name>
    <servlet-name>vzvzv</servlet-name>
    <servlet-class>com.parser.Servlet.vzvzv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vzvzv</servlet-name>
    <url-pattern>/addplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlayerServlet</display-name>
    <servlet-name>AddPlayerServlet</servlet-name>
    <servlet-class>com.parser.Servlet.AddPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlayerServlet</servlet-name>
    <url-pattern>/addplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerInfoServlet</display-name>
    <servlet-name>CustomerInfoServlet</servlet-name>
    <servlet-class>com.parser.Servlet.CustomerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInfoServlet</servlet-name>
    <url-pattern>/custinfo</url-pattern>
  </servlet-mapping>
</web-app>